NEXT_PUBLIC_SUPABASE_URL=https://nebjsaqxxwzglbfotdeq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_nsgEuf5zrd5sTPmLf3pTcw_c6zaR-v5
SUPABASE_SERVICE_ROLE_KEY=sb_secret_-_wADPGTFDAzbIruz32ovw_w53JrkkA
TMDB_API_KEY=4137fa1e7ec785478b6ae1066ca2d224
NEXT_PUBLIC_APP_URL=http://localhost:3000

